

<h1>Football STARZ!</h1>



 
<style>
/* this is background photo messi */
body {
  background-image: url("https://64.media.tumblr.com/2671197d8465b60d131d17e4764d774d/tumblr_ngfjxnwzY41tevhfro1_1280.png");
}
</style>



<!-- <img s rc="https://media2.giphy.com/media/9Px0QByMr537OyhCav/giphy.gif?cid=790b7611351e3fc1d4c3fa0cc91594f124405ea009f73fdf&rid=giphy.gif&ct=g">-->

<br><br><br><br>
<% if user_signed_in? %>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>  <%= link_to post.title,post , class: "btn btn-info btn-sm"%> 
         </td>
        

      </tr>

    <% end %>

  </tbody>
  </table>



<button class="btn btn-outline-success" type="submit">
<%= link_to 'New Post', new_post_path  %>
</button>
<%end%>












